h3.center
  span.nonsplit 考える力を伸ばします！&nbsp;
  span.nonsplit 小学生対象 &nbsp;
  span.nonsplit ロボット先生によるロボットプログラミング教室 &nbsp;
  span.nonsplit in fabbit北九州 &nbsp;
  span.nonsplit 
    | (5月20日(日)13:00〜14:30，15:00〜16:30)

a href="https://zacky1972.github.io/KaFT/news/2018/04/28/event.html"
  img.image src="resources/images/robot.png"
  